<body> 
  <div id="row-image">
    <svg class="bd-placeholder-img" style="display: block; margin: auto;" width="480" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>{{actor.name}}</title>
      <image [attr.xlink:href]="'../../../assets/actorsImages/' + actor.image" width="470px" y= "30" x="20"> </image>
    </svg>
  </div>

  <!-- Le pasamos el dato del actor y accedemos a sus propiedades-->
  <div id="row-text" *ngIf="actor">
    <h2 id="nameColor">{{actor.name | uppercase}}</h2>
    <ul id="listColor">
      <div><li>Fecha de nacimiento: {{actor.details?.bornDate}}</li></div>
      <div><li>Nacionalidad: {{actor.details?.nationality}}</li></div>
      <div><li>Descripción: {{actor.details?.long_description}}</li></div>
      <div><li>Hobbies: {{actor.details?.hobbies}}</li></div>
    </ul>
  </div>
  
   <app-player></app-player>

  <button class="btn btn-secondary" type="button" (click)="goBack()">Volver »</button>
</body>
