<h1>Estamos en Detalles</h1>
<!-- <div *ngIf="actors" >
    <h2 id="nameColor">{{actors.name | uppercase}}</h2>
    <ul id="listColor">
      <div><li>Fecha de nacimiento: {{actors.details?.bornDate}}</li></div>
      <div><li>Nacionalidad: {{actors.details?.nationality}}</li></div>
      <div><li>Descripción: {{actors.details?.long_description}}</li></div>
      <div><li>Hobbies: {{actors.details?.hobbies}}</li></div>
    </ul>
<h1>Estamos en Detalles</h1>
</div> -->

<div *ngIf="actor">
  <h2>{{actor.name | uppercase}} Details</h2>
  <div><span>id: </span>{{actor.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="actor.name" placeholder="name"/>
    </label>
  </div>
</div>