<div class="mb-3" style="width: 50%; margin: 0 auto; width: 300px;">
    <select name="finder" id="finder" (change)="onChange($event)"class="form-control">
        <option disabled selected>Selecciona</option>
        <option value="nombre">Por nombre</option>
        <option value="descripcion">Por descripcion</option>
   </select> 
</div>
<div class="input-group mb-3" style="width: 50%; margin: 0 auto; width: 300px;">
    <span class="input-group-text" style="background-color: rgb(101, 101, 101); border: none;"  id="basic-addon1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </span> 
    <input type="text" [(ngModel)]="searchText" class="form-control" style="background-color: rgb(162, 160, 160); border: none; color: black;" aria-label="Username" aria-describedby="basic-addon1" placeholder="Busca aquí a tu actor favorito...">
    <input type="button" class="btn btn-secondary" (click)="buscarActor()" value="Buscar" /> 
</div>

