<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">
            <img src="../../../assets/logo.png" alt="Series Netflix" width="120"> 
        </span>

        <span class="navbar-brand-text text-danger mx-auto font-weight-bold">
            LA CASA DE PAPEL
        </span>   

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a data-bs-toggle="collapse" data-bs-target="#navbarNav" class="nav-link" routerLink='/'>Inicio</a>
                    <a data-bs-toggle="collapse" data-bs-target="#navbarNav" class="nav-link" (click)="onAnchorClick()">Actores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>