body {
    background-color: #000;
    color: white;    
}
.card-img-top{
    width: 300px;
    height: 180px;
}
a{
    text-decoration: none;
}

a.serie{
    color: black;
}

a.actor{
    color: white;
}

.black-text{
    color: black;
}

.card {
    min-height: 435px;
}

.img-head {
    width: 700px;
    height: 420px;
}

#image-header{
    text-align: center;
}
